.company_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.company_first_child_container{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: .1em;
}

.company_first_child_container div{
    width: 50%;
    padding: 6em 3em;
    line-height: 1.6em;
    text-align: justify;
    font-size: 1.2em;
}

.company_first_child_container div h2{
    margin-bottom: 2em;
    font-size: 2em;
}

.company_costs span{
    font-weight: bold;
    background-color: #222;
    color: #ffbb22;
    padding: .1em .3em;
}

.company_history{
    background-color: #222;
    color: #ffbb22;
}

.company_history span{
    background-color: #ffbb22;
    color: rgb(17, 17, 17);
    padding: .1em .3em;
    font-weight: bolder;
}

.company_second_child_container{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    margin-top: .1em;
    margin-bottom: .1em;
}

.company_second_child_container > div{
    width: calc(100%/3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2em 0em;
}

.company_second_child_container div div{
    text-align: justify;
    padding: 0em 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
}

.company_second_child_container div > div{
    margin-bottom: .5em;
}

.company_second_child_container div svg{
    font-size: 4em;    
}

.company_second_child_container div .company_icons_title{
    font-size: 1.8em;
}

.company_binoculars{
    background-color: #222;
    color: #ffbb22;
}

.company_anchor div div{
    text-align: center;
}

